.contentInfo {
    margin: 1rem;
    margin-top: 2rem;
}
.contentInfo p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contentInfo span:nth-child(1) {
    font-weight: 400;
    color: var(--light);
    opacity: .8;
    font-size: .9rem;
}
.contentInfo span:nth-child(2) {
    font-weight: 500;
    color: var(--light);
    opacity: .8;
    font-size: .9rem;
}