.contentForm {
    position: absolute;
    left: 3.5rem;
    top: .7rem;
    width: 24rem;
    height: 18rem;
    padding: 1rem;
    border-radius: .2rem;
    background: var(--dark);
}
form {
    margin: 1rem;
}
input[type="text"] {
    border: none;
    background: transparent;
    border-bottom: .16rem solid var(--yellow);
    width: 100%;
    outline: none;
    padding: 1rem 0rem;
    color: var(--light);
    font-size: 1rem;
    opacity: .8;
    transition: all .2s linear;
}

/*input[type="text"].active {
    border: none;
    background: transparent;
    border-bottom: .16rem solid var(--red);
    color: var(--red);
    width: 100%;
    outline: none;
    padding: 1rem 0rem;
    color: var(--light);
    font-size: 1rem;
    opacity: 1;
    transition: all .2s linear;
}*/
input[type="text"]:focus {
    opacity: 1;
}

input[type="text"]::placeholder {
    color: var(--yellow);
}

label[for="host"] {
    line-height: 2;
    color: var(--light);
}

label[for="host"] i {
    margin-left: .3rem;
}


@media (max-width: 650px) {
    .contentForm {
        width: 80%;
    }
}