.contentForm {
    background: var(--dark);
    text-align: center;
    padding: 6rem 1rem;
}
.contentForm img {
    margin-top: -4rem;
}
.contentForm h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--light);
    margin-bottom: 1rem;
}
.form {
    width: 30rem;
    margin: 0 auto;
}
form {
    display: flex;
    justify-content: space-around;
    border-radius: .7rem;
    transition: all .2s linear;
    padding: 0;
}
form input {
    width: 100%;
    padding: .8rem 1rem;
    border-radius: .5rem 0 0 .5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: bolder;
    color: #555;
}
form:hover{
    outline: auto;
    outline-style: solid;
    outline-color: var(--purple);
}
form button {
    padding: .8rem 1rem;
    border: solid var(--purple);
    outline: none;
    border-radius: 0 .5rem .5rem 0;
    cursor: pointer;
    background: var(--purple);
    color: var(--light);
}
form button:hover {
    opacity: .8;
}
form button i {
    font-size: 1rem;
}

@media (max-width: 550px) {
    .form {
        width: 100%;
    }
    .contentForm h1 {
        font-size: 1.1rem;
    }
}