.contentInfo {
    margin: 1rem;
    margin-top: 2.2rem;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
}
table:nth-child(1) {
    margin-bottom: 1rem;
}

table th {
    font-size: .9rem;
    font-weight: 500;
    color: var(--light);
    opacity: .8;
}
table td {
    color: var(--light);
    font-size: .8rem;
}
