* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --dark: #0D1117;
    --light: #f9f9f9;
    --purple: #8734fe;
}

body {
    font-family: 'Rubik', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
}