* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --dark: #251B37;
    --light: #f9f9f9;
    --yellow: #E7B10A;
    --red: #DF2E38;
}

body {
    font-family: 'Rubik', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    position: relative;
}